html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    margin: 0;
}

.gotop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.gotop a{
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration: none;
}

.topbar{
    background-color: rgb(49, 49, 134);
    color: white;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    box-shadow: 0 2px 5px rgb(230, 224, 224);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.menu{
    display: flex;
    gap: 15px;
    list-style-type: none;
}

.menu a{
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.menu a:hover{
    background-color: #f4f4f4;
}

.dropdown{
    position: relative;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu{
    position: absolute;
    left: 0;
    top: 25px;
    width: 150px;
    list-style-type: none;
    padding: 0;
    background-color: aqua;
    border-radius: 5px;
    display: none;
}

.dropdown-menu a{
    display: block;
}

.support-btn{
    text-decoration: none;
    background-color: rgb(49, 49, 134);
    color: white;
    padding: 8px 15px;
    border-radius: 10px;
}

.banner {
    background-image: url('banner.jpg');
    height: 400px;
    background-size: cover;
    position: relative;
}

.banner-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    background-color: rgba(62, 13, 13, 0.555);
}

.get-started{
    background-color: rgb(49, 49, 134);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.banner h1{
    color: white;
    font-size: 60px;
}

.title-section{
    padding: 20px 40px;
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100px;
}

.title-section-inner{
    background-color: rgba(53, 15, 15, 0.724);
    padding: 20px;
    position: absolute;
    inset: 0;
    color: white;
}

.notice{
    display: flex;
}

.notice p{
    padding: 10px 40px;
    background-color: rgb(49, 49, 134);
    color: white;
    margin: 0;
}

.notice marquee{
    background-color: #eee;
    padding: 10px;
    flex: 1;
}

.product-section{
    padding: 20px 40px;
}

.section-title{
    text-align: center;
}

.section-title p{
    color: #888;
    margin-top: -15px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
    padding: 10px 20px;
}

.product img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.product{
    background-color: #e1dede;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgb(230, 224, 224);
    cursor: pointer;
    position: relative;
}

.product:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgb(230, 224, 224);
}

.product h3{
    margin-top: 10px;
    color: #333;
}

.product p{
    color: #888;
    margin-top: -10px;
    font-size: 14px;
}

.discount{
    background-color: red;
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.btn{
    text-align: center;
}

.btn a{
    text-decoration: none;
    background-color: rgb(49, 49, 134);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px 100px;
}

.about-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.about-content a{
    background-color: rgb(49, 49, 134);
    color: white;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 8px;
}


.popup{
    position: fixed;
    inset: 0;
    background-color: rgba(75, 14, 14, 0.761);
    z-index: 999;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content{
    background-color: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 8px;
    position: relative;
}

.cross{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(231, 231, 231);
    padding: 5px 10px;
    border-radius: 5px;
}

.popup-content a{
    text-decoration: none;
    color: black;
}

.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 120px;
}

.contact-info p{
    color: #666;
}

.contact-form{
    width: 100%;
}

.contact-form input, .contact-form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
}

.contact-form input[type=submit]{
    background-color: blue;
    width: 50%;
    color: white;
    margin: 10px auto;
}


.contact-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #b53030;
    color: white;
}

.contact-details p{
    font-size: 25px;
    font-weight: bold;
}

.contact-details a{
    text-decoration: none;
    color: white;
    background-color: rgb(49, 49, 134);
    padding: 10px 20px;
    border-radius: 8px;
}

.footer-section{
    background-color: azure;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 60px;
}

.footer-col ul{
    padding: 0;
    list-style-type: none;
}

.footer-col li{
    padding: 5px 0;
}

.footer-col a{
    text-decoration: none;
    color: #333;
}

.lower-footer{
    background-color: rgb(49, 49, 134);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
}

.lower-footer a{
    color: #f4f4f4;
}

@media screen and (max-width:768px) {
    .product-container{
        grid-template-columns: 1fr 1fr;
    }

    .about-container{
        grid-template-columns: 1fr;
    }
}