.welcome{
    color: blue;
    background-color: skyblue;
    text-align: center;
}

.button-div{
    text-align: center;
}

.button-div a{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.details{
    background-color: blue;
    color: white;
    width: 400px;
    padding: 15px;
    text-align: justify;
    border-radius: 12px;
}